@font-face {
    font-family: "dotsRegular";
    src: url('../font/Fridaymono-italic.eot');
    src: url('../font/Fridaymono-regular.otf') format('truetype'),
    url('../font/Fridaymono-regular.woff') format('woff'),
    url('../font/Fridaymono-regular.woff2') format('woff2'),
    url('../font/Fridaymono-regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: "dotsItalic";
    src: url('../font/Fridaymono-italic.eot');
    src: url('../font/Fridaymono-italic.woff2') format('woff2'),
    url('../font/Fridaymono-italic.eot') format('embedded-opentype');
}

$dotsRegular: "dotsRegular";
$dotsItalic: "dotsItalic"; 
$dark: #141414;
$light: white;

$grey: #5e5d5d;
$banana: #fbdc74;
$back: #0f1e20;


@mixin margin-left {
    margin-left: 150px;
}

@mixin margin-left2 {
    margin-left: 50px;
}

@mixin text {
    font-family: $dotsRegular;
    font-size: 1.5vw;
    line-height: 1.5;
    text-align: left;
    color: $light;
}

@mixin text2 {
    font-family: $dotsRegular;
    font-size: 2.5vw;
    line-height: 1.5;
    text-align: left;
    color: $light;
}

@mixin ptext {
    font-size: 1.2vw;
    line-height: 1.7;
}


@mixin ptext2 {
    font-size: 3vw;
    line-height: 2;
}

@mixin paragraf {
    @include text;
    display: flex;
    justify-content: center;
    margin: 2vh 50px 50px 15vw;
    p {
        width: 600px;
        text-align: left
    }
}

@mixin paragraf2 {
    @include text2;
    display: flex;
    justify-content: center;
    margin: 2vh 50px 50px 10vw;
    p {
        width: 600px;
        text-align: left
    }
}


@mixin let {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed $banana;
    left: 0;
    opacity: 0.6;
}

@keyframes left {
    0% {left: -130px;}
    100% {left: 20px;}
  }
